<div class="main-nav-wrapper">
    <div class="container">
        <div class="logo-wrapper">
            <a class="blacklane-nav-logo" data-qa="logo-desktop" href="/en">Blacklane</a>
        </div>
        <nav class="main-nav">
            <a data-qa="how-it-works" href="/en/how-it-works">How it works</a>
            <a data-qa="fleet" href="/en/fleet">Fleet</a>
            <a data-qa="fares" href="/en/fares">Fares</a>
            <span class="dropdown dropdown-cities">
                <a data-toggle="dropdown" data-qa="cities-dropdown" href="/en/cities">250+ cities</a>
                <ul class="dropdown-menu dropdown-menu-right no-mobile" role="menu">
                <li><a class="dropdown-menu__item" data-qa="dropdown-new-york"
                       href="/en/cities-new-york">New York</a></li>
                <li><a class="dropdown-menu__item" data-qa="dropdown-london" href="/en/cities-london">London</a></li>
                <li><a class="dropdown-menu__item" data-qa="dropdown-berlin" href="/en/cities-berlin">Berlin</a></li>
                <li><a class="dropdown-menu__item" data-qa="dropdown-los-angeles" href="/en/cities-los-angeles">Los Angeles</a></li>
                <li><a class="dropdown-menu__item" data-qa="dropdown-paris" href="/en/cities-paris">Paris</a></li>
                <li><a class="dropdown-menu__item" data-qa="dropdown-all-cities" href="/en/cities">All cities</a></li>
                </ul>
            </span>

            <div class="dropdown no-mobile">
                <a class="btn-login" data-toggle="dropdown" data-qa="login" href="/en/sessions/new">Log in</a>
                <div class="dropdown-login dropdown-login-right">
                </div>
            </div>

        </nav>
    </div>
</div>